@font-face {
    font-family: 'Boochild';
    src: url('/assets/fonts/Boochild.woff2') format('woff2'),
         url('/assets/fonts/Boochild.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fffff0;
}

header {
    text-align: center;
}

header p {
    margin: 0.2em;
}

hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 50px;
}

.mildliner-wrap {
    text-align: center;
}

.input, label {
    font-size: 1.2em;
}

label {
    margin-right: 1em;
    text-transform: uppercase;
    font-family: 'Boochild', sans-serif;
    letter-spacing: 0.2em;
}

label:hover {
    cursor: pointer;
}

.mildliner-singles {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mildliner h2,
.mildliner p {
    margin: 0;
}

.mildliner p {
    font-weight: bold;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    letter-spacing: 0.1em;;
}

.mildliner h2 {
    margin-bottom: 0.3em;
}

.mildliner h2,
.marker {
    font-family: 'Boochild', sans-serif;
    letter-spacing: 0.2em;
    text-transform: lowercase;
}

.mildliner-set {
    margin-bottom: 1em;
}

.mildliner-set h1 {
    text-align: center;
}

.mildliner {
    position: relative;
    padding: 15px 10px;
    text-align: center;
    height: 60px;
}

.mildliner:hover {
    cursor: pointer;
    opacity: 0.9;
}

.mildliner-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mildliner-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#radio-set:checked ~ #by-set {
    display: block;
}
#radio-color:checked ~ #by-color {
    display: block;
}

#radio-set:checked ~ #by-color,
#radio-color:checked ~ #by-set {
    display: none;
}